.login {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.login__logo {
  margin-top: 3rem;
  margin-bottom: 1rem;
  object-fit: contain;
  width: 120px;
}

.login__container {
  border-radius: 0.3rem;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 2rem;
  width: 350px;
}

.login__container > h1 {
  font-weight: 500;
  margin-bottom: 1.4rem;
}

.login__container > form > h5 {
  margin-bottom: 0.3rem;
}

.login__container > form > input {
  background-color: white;
  border-radius: 2px;
  border: 1px solid #bbb;
  font-size: 1.2rem;
  height: 30px;
  margin-bottom: 10px;
  outline: 0;
  padding: 1.2rem 0.5rem !important;
  padding: 10px;
  width: 98%;
}

.login__container > p {
  font-size: 12px;
  margin-top: 15px;
}
